flow3.txt
[{"id":"87fa0a9e.6fff88","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"362ac108.e1680e","type":"inject","z":"87fa0a9e.6fff88","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["15f4c973.1995e7"]]},{"id":"15f4c973.1995e7","type":"function","z":"87fa0a9e.6fff88","name":"payload","func":"msg.headers={\n    deviceKey:\"h0pvWq5S0FPMy0Ng\"\n};\n\nmsg.payload=\"temp,,50\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["149efd4.db8aa03"]]},{"id":"149efd4.db8aa03","type":"http request","z":"87fa0a9e.6fff88","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0HIR3qf/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":240,"wires":[["7d427b14.add474"]]},{"id":"7d427b14.add474","type":"http response","z":"87fa0a9e.6fff88","name":"","statusCode":"","headers":{},"x":600,"y":320,"wires":[]}]