flow1.txt
[{"id":"32581a4a.eea1c6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb0fd8f0.93bb38","type":"rpi-gpio in","z":"32581a4a.eea1c6","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":150,"y":320,"wires":[["1f0f0546.8631db","ebc58c46.f9dfb"]]},{"id":"1f0f0546.8631db","type":"switch","z":"32581a4a.eea1c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["d0a5e313.212d2"],["1962e027.f17c9"]]},{"id":"d0a5e313.212d2","type":"change","z":"32581a4a.eea1c6","name":"set to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["60abd3c2.e3e0fc"]]},{"id":"ebc58c46.f9dfb","type":"debug","z":"32581a4a.eea1c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":160,"wires":[]},{"id":"60abd3c2.e3e0fc","type":"rpi-gpio out","z":"32581a4a.eea1c6","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":670,"y":320,"wires":[]},{"id":"1962e027.f17c9","type":"change","z":"32581a4a.eea1c6","name":"set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["60abd3c2.e3e0fc"]]}]